.main,
.signInPage {
  display: flex;
  flex-direction: column;
}
.signInPage {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: var(--White);
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
.signInPage:hover {
  background: var(--gradient-1);
}
.main {
  align-self: stretch;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: var(--padding-20);
  box-sizing: border-box;
  background-image: url(/public/Main@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 900px;
}
