.listingDescription {
  align-self: stretch;
  border-bottom: var(--border-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-22);
  gap: var(--n-11);
  text-align: left;
  font-size: var(--fs-24);
  color: var(--Dark);
  font-family: var(--font-archivo);
}
.aboutThisHome {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.homeSummary,
.homeSummaryParent {
  display: flex;
  align-items: flex-start;
}
.homeSummaryParent {
  align-self: stretch;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--n-19);
  font-size: var(--fs-16);
}
.homeSummary {
  flex: 1;
  flex-direction: column;
  gap: var(--n-5);
  min-width: var(--min-w-500);
}
.welcomeToBrightwoodsContainer {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.welcomeToBrightwoods {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.comeBeOur {
  margin: 0;
}
.button {
  position: relative;
  letter-spacing: 0.46px;
  line-height: var(--lh-26);
  font-weight: 600;
  color: var(--Accent);
  text-align: center;
}
.detailsCards {
  width: var(--width-500);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--n-13);
}
@media screen and (max-width: 825px) {
  .homeSummaryParent {
    gap: var(--gap-20);
  }
  .homeSummary {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .aboutThisHome {
    font-size: var(--fs-19);
  }
}
